flask
flask-cors
mysql-connector-python
pandas
numpy
scikit-learn
openpyxl
celery
redis
werkzeug
langchain
langchain-community
sentence-transformers
chromadb
ollama
llama-index-core
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
chromadb